# --- Python 垃圾文件 ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- Mac 系统垃圾文件 ---
.DS_Store

# --- 你的数据文件 (太大了，不要传) ---
*.h5
# *.npy
*.pkl
# *.pth
*.txt
data/
cache/
.hapi_cache/

# --- HAPI 数据库 (如果有) ---
*_hapi/

# --- 环境变量/密钥 (如果以后有) ---
.env